*, *:before, *:after{
   box-sizing: border-box
}
html{
   font-size: 14px;
}
body{
   margin: 0;
   font-family: Arial, sans-serif;
}
.main{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   height: 100vh;
   background: url(../img/Background-1.jpg) no-repeat center;
   background-size: cover;
   position: relative;
 
}
.main__overlay, .main-3__overlay{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   z-index: 0;
   opacity: .75;
   background-image: -moz-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
   background-image: -webkit-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
   background-image: -ms-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
       
}
.header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 10vh;
   width: 95%;
   position: relative;
   z-index: 2;
}
/* ///////////////////// */

 .m-menu__btn {
   display: block;
   width: 5rem;
   height: 5rem;
   line-height: 5rem;
   background-color: white; 
   position: relative;

 }
 .m-menu__btn span{
   position: absolute;
   top: 2.3rem; 
   left: 0.5rem;
   width: 4rem;
   height: 0.5em;
   background-color: #7d719e;
 }
 .m-menu__btn span::before,
 .m-menu__btn span::after {
   position: absolute;
   width: 4rem;
   height: 0.5em;
   background-color: #7d719e;
 }
 .m-menu__btn span::before,
 .m-menu__btn span::after {
   content: '';
 }
 .m-menu__btn span::before {
   transform: translateY(-1.4rem);
 }
 .m-menu__btn span::after {
   transform: translateY(1.4rem);
 }
  .m-menu__btn_active span:before {
   transform: rotate(45deg);
 }
 .m-menu__btn_active span {
   background-color: transparent;
 }
 .m-menu__btn_active span:after {
   transform: rotate(-45deg);
 }
 .m-menu {
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 .m-menu__nav {
   margin-top: 15rem;
   display: flex;
   flex-direction: column;
   justify-content: column;
   z-index: 20;
   /* overflow-y: auto; */
   height: 20rem;
   line-height: 2rem;
   transform: scaleY(0) translateY(0%);
   transition: 0.3s;
   opacity: 0;
   visibility: hidden;
   background-color: #fff;

 }
 .m-menu__nav_active {
   transform: scaleY(1) translateY(0%);
   transform-origin: top;
   opacity: 1;
   visibility: visible;
 }
 .m-menu__link {
   font-size: 2rem;
   text-decoration: none;
   text-transform: uppercase;
   color: #222;
   font-weight: 700;
   padding: 1rem;
   margin-right: 3rem;
   transition: 0.2s;
 }
 .m-menu__link:hover {
   background-color: #9d90c0;
 }
/* ////////////////////// */
.menu{
   width: 45%;
}
.menu ul{
   display: flex;
   justify-content: space-around;
   list-style: none;
}
.menu__link{
   color: white;
   text-decoration: none;
}
.menu__link:hover{
   padding-bottom: 0.7rem;
   border-bottom: 1px solid white;
}
.header__button{
   border: 1px solid white;
   padding: 0.715rem 1.43rem;
   border-radius: 7.14rem;
}
.main__text{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
   z-index: 2;
   text-align: center;
   color: white;
}
.main__text span{
   display: inline-block;
}
.main__text h1{
   font-size: 4rem;
   margin: 0.5rem;
}
.main__text span::after{
   content: '';
   height: 1px;
   width: 2rem;
   background-color: white;
   display: inline-block;
   vertical-align: middle;
   margin-left: 0.715rem;
}
.main__text span::before{
   content: '';
   height: 1px;
   width: 2rem;
   background-color: white;
   display: inline-block;
   vertical-align: middle;
   margin-right: 0.715rem;
}
.main__arrow{
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   height: 15vh;
   z-index: 2;
}
.arrow{
   width: 3rem;
   height: 3rem;
   line-height: 3rem;
   text-align: center;
   border-radius: 50%;
   background-color: white; 
   box-shadow: 0px 0px 1.4rem 0.2rem rgba(204, 204, 223, 0.5);
}
.arrow img{
   width: 1.3rem;
   height: 1.5rem;
   margin-top: 0.7rem;
   z-index: 3;
}
.main-2{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   background-color: #f9fafc;
   padding: 2rem;
}
.main-2__header{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   height: 20vh;
   width: 95%;
   position: relative;
   text-align: center;
   z-index: 2;
   margin-bottom: 3rem;
}
.main-2__header span{
   font-size: 1rem;
   color: #c1c4cc;
   text-transform: uppercase;
}
.main-2__header span::before{
   content: '';
   height: 1px;
   width: 2rem;
   background-color: #6e45e2;
   display: inline-block;
   vertical-align: middle;
   margin-right: 0.715rem;
}
.main-2__header span::after{
   content: '';
   height: 1px;
   width: 2rem;
   background-color: #6e45e2;
   display: inline-block;
   vertical-align: middle;
   margin-left: 0.715rem;
}
.main-2__header h2{
   font-size: 3rem;
   color: #4f4f6f;
   margin: 0;
}
.main-2__header p{
   display: inline-block;
   font-size: 1.2rem;
   color: #9fa4af;
   width: 25rem;
   line-height: 1.4;
   margin: 0;
}
.main-2__container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 85%;
}
.main-2__item{
   padding: 1.5rem;
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   justify-content: space-between;
   width: 20rem;
   height: 30rem;
   border: 1px solid #d7dbe8;
   background-color: #fff;
   border-radius: 2rem;
   transition: 0.2s;
}
.main-2__item:hover{
   cursor: pointer;
   box-shadow: 0px 0px 5rem 0.7rem rgba(204, 204, 223, 0.71);
}
.main-2__item span{
   text-transform: uppercase;
   color: #9fa4af;
   font-weight: 500;
   margin: 1rem auto 0.2rem;

}
.main-2__item h4{
   font-size: 2rem;
   color: #4f4f6f;
   font-weight: 700;
   margin: 0.3rem;
}
.main-2__item h4 sup{
   font-size: 1rem;
   margin-right: 0.2rem;
}
.main-2__item h4 sub{
   font-size: 1rem;
   vertical-align: 0.2rem;
}
.main-2__item p{
   color: #9fa4af;
   
}
.main-2__item__btn{
   background-color: white;
   border: 1px solid #9fa4af;
   color: #9fa4af;
   text-transform: uppercase;
   font-weight: 700;
   padding: 1rem 2rem;
   border-radius: 7.14rem;
   transition: 0.2s;
}
.main-2__item__btn:hover{
   background-color: #6e45e2;
   color: white;
}
.main-3{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   background: url(../img/Background-2.jpg) no-repeat center;
   background-size: cover;
   position: relative;
   padding: 5rem;
}
 .main-3__container{
   z-index: 2;
   text-align: center;
   color: white;
}
.main-3__container span{
   text-transform: uppercase;
   font-weight: 500;
   margin: 1rem auto 0.2rem;
}
.main-3__container h4{
   font-size: 3rem;
   font-weight: 700;
   margin: 1rem;
}
.main-3__btn{
   display: inline-block;
   background-color: white;
   border: none;
   color: #9fa4af;
   text-transform: uppercase;
   font-size: 0.8rem;
   font-weight: 700;
   width: 12rem;
   height: 2.9rem;
   padding: 1rem;
   border-radius: 7.14rem;
   transition: 0.2s;
   margin: 0 0.5rem;
}
.main-3__btn:hover{
   background-color: #6e45e2;
   color: white;
   cursor: pointer;
}


.footer{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 10vh;
   width: 95%;
   margin: auto; 
}
.footer-menu{
   width: 45%;
}
.footer-menu ul{
   display: flex;
   justify-content: space-around;
   list-style: none;
}
.footer-menu__link{
   color: #9fa4af;
   text-decoration: none;
}
.footer__button{
   border: 1px solid #9fa4af;
   padding: 0.715rem 1.43rem;
   border-radius: 7.14rem;
}
.footer__button:hover{
   background-color: #6e45e2;
   color: white;
   cursor: pointer;
}
.line{
   display: block;
   width: 95%;
   height: 2px;
   background-color: #9fa4af;
   margin: 1rem auto;

}
.footer-2{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 95%;
   margin: 0 auto;
}
.copyright{
   color: #9fa4af;
   font-size: 0.8rem;
}
.social a{
   display: inline-block;
}
.social img{
   width: 1.5rem;
   height: 1.5rem;
   opacity: 0.5;
}