*, *:before, *:after{
   box-sizing: border-box
}
html{
   font-size: 14px;
}
body{
   margin: 0;
   font-family: Arial, sans-serif;
}
.main{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   height: 100vh;
   min-height: 600px;
   background: url(../img/Background-1.jpg) no-repeat center;
   background-size: cover;
   position: relative;
 
}
.main-overlay, .main-3-overlay{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   z-index: 0;
   opacity: .75;
   background-image: -moz-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
   background-image: -webkit-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
   background-image: -ms-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
       
}
.header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 10vh;
   width: 95%;
   position: relative;
   z-index: 2;
}
.menu{
   width: 45%;
}
.menu ul{
   display: flex;
   justify-content: space-around;
   list-style: none;
}
.menu-link{
   color: white;
   text-decoration: none;
}
.menu-link:hover{
   padding-bottom: 0.7rem;
   border-bottom: 1px solid white;
}
.get-started-button{
   border: 1px solid white;
   padding: 10px 20px;
   border-radius: 100px;
   margin-left: 10px;
}
.main-text{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
   z-index: 2;
   text-align: center;
   color: white;
}
.main-text span{
   display: inline-block;
}
.main-text h1{
   font-size: 4rem;
   margin: 0.5rem;
}
.main-text span::after{
   content: '';
   height: 1px;
   width: 30px;
   background-color: white;
   display: inline-block;
   vertical-align: middle;
   margin-left: 10px;
}
.main-text span::before{
   content: '';
   height: 1px;
   width: 30px;
   background-color: white;
   display: inline-block;
   vertical-align: middle;
   margin-right: 10px;
}
.main-arrow{
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   height: 15vh;
   z-index: 2;
}
.arrow{
   width: 3rem;
   height: 3rem;
   line-height: 3rem;
   text-align: center;
   border-radius: 50%;
   background-color: white; 
   box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);
}
.arrow img{
   width: 1.3rem;
   height: 1.5rem;
   margin-top: 0.7rem;
   z-index: 3;
}
.main-2{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   /* position: relative;
   height: 100vh;
   min-height: 600px; */
   background-color: #f9fafc;
   padding: 4rem;
}
.main-2-header{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   height: 20vh;
   width: 95%;
   position: relative;
   text-align: center;
   z-index: 2;
   margin-bottom: 4rem;
}
.main-2-header span{
   font-size: 1rem;
   color: #c1c4cc;
   text-transform: uppercase;
}
.main-2-header span::before{
   content: '';
   height: 1px;
   width: 30px;
   background-color: #6e45e2;
   display: inline-block;
   vertical-align: middle;
   margin-right: 10px;
}
.main-2-header span::after{
   content: '';
   height: 1px;
   width: 30px;
   background-color: #6e45e2;
   display: inline-block;
   vertical-align: middle;
   margin-left: 10px;
}
.main-2-header h2{
   font-size: 3rem;
   color: #4f4f6f;
   margin: 0;
}
.main-2-header p{
   display: inline-block;
   font-size: 1.2rem;
   color: #9fa4af;
   width: 25rem;
   line-height: 1.4;
   margin: 0;
}
.main-2-container{
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 80%;
}
.main-2-item{
   padding: 2rem;
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   justify-content: space-between;
   width: 300px;
   height: 450px;
   border: 1px solid #d7dbe8;
   background-color: #fff;
   border-radius: 2rem;
   transition: 0.2s;
}
.main-2-item:hover{
   cursor: pointer;
   box-shadow: 0px 0px 80px 10px rgba(204, 204, 223, 0.71);
}
.main-2-item span{
   text-transform: uppercase;
   color: #9fa4af;
   font-weight: 500;
   margin: 1rem auto 0.2rem;

}
.main-2-item h4{
   font-size: 2rem;
   color: #4f4f6f;
   font-weight: 700;
   margin: 1rem;
}
.main-2-item h4 sup{
   font-size: 1rem;
   margin-right: 0.2rem;
}
.main-2-item h4 sub{
   font-size: 1rem;
}
.main-2-item p{
   color: #9fa4af;
   
}
.item-btn{
   background-color: white;
   border: 1px solid #9fa4af;
   color: #9fa4af;
   text-transform: uppercase;
   font-weight: 700;
   padding: 1rem 2rem;
   border-radius: 100px;
   transition: 0.2s;
}
.item-btn:hover{
   background-color: #6e45e2;
   color: white;
}
.main-3{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   background: url(../img/Background-2.jpg) no-repeat center;
   background-size: cover;
   position: relative;
   padding: 5rem;

 }
 .main-3-container{
   /* display: flex;
   flex-direction: column;
   justify-content: center; */
   align-items: center;
   position: relative;
   z-index: 2;
   text-align: center;
   color: white;
}
.main-3-container span{
   text-transform: uppercase;
   font-weight: 500;
   margin: 1rem auto 0.2rem;
}
.main-3-container h4{
   font-size: 3rem;
   font-weight: 700;
   margin: 1rem;
}
.main-3-btn{
   display: inline-block;
   background-color: white;
   border: none;
   color: #9fa4af;
   text-transform: uppercase;
   font-size: 0.8rem;
   font-weight: 700;
   width: 12rem;
   height: 2.9rem;
   padding: 1rem;
   border-radius: 100px;
   transition: 0.2s;
   margin: 0 0.5rem;
}
.main-3-btn:hover{
   background-color: #6e45e2;
   color: white;
   cursor: pointer;
}

.footer-cntariner{
   display: flex;
   flex-direction: row;
   justify-content: center ;
   align-items: center;
  
}
.footer{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 10vh;
   width: 95%;
   margin: auto; 
}
.footer-menu{
   width: 45%;
}
.footer-menu ul{
   display: flex;
   justify-content: space-around;
   list-style: none;
}
.footer-menu-link{
   color: #9fa4af;
   text-decoration: none;
}
.footer-button{
   border: 1px solid #9fa4af;
   padding: 10px 20px;
   border-radius: 100px;
   margin-left: 10px;
}
.footer-button:hover{
   background-color: #6e45e2;
   color: white;
   cursor: pointer;
}
.line{
   display: block;
   width: 95%;
   height: 2px;
   background-color: #9fa4af;
   margin: 1rem auto;

}
.footer-2{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 95%;
   margin: 0 auto;
}
.copyright{
   color: #9fa4af;
   font-size: 0.8rem;
}
.social a{
   display: inline-block;
}
.social img{
   width: 1rem;
   height: 1rem;
   opacity: 0.5;
}